{% extends 'base.html' %}

{% block content %}
    <h1>AFN Fine/Fee App</h1>
    <p>Check and record payment of fines and fees between IZs in the Automated Fulfillment Network.</p>
    <h2>Lookup User</h2>
    <div id="lookup-form-div">
        <form id="lookup-user" action="{{ url_for('show_fines') }}" method="post">
            <div class="form-group row">
                <label for="uid" class="col-sm-2 col-form-label">User ID</label>
                <input name="uid" type="text">
            </div>
            <div class="form-group">
                <button id-"lookup-user-button" type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
{% endblock %}    
